@model ItCommerce.Reporting.ViewModels.OrderDetailView
@functions{
    string formatMoney(double amount)
    {
        var format = String.Format("{0:### ### ###}", amount);
        if (amount == 0)
        {
            format = "0";
        }
        return format;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>COMMANDE No @Model.orderDetail.id - @Model.orderDetail.agent.agency.company.name</title>
    <meta name="author" content="harnishdesign.net" />

    <!-- Web Fonts
    ======================= -->
    <!-- Stylesheet
    ======================= -->
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/css/styleboot.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/css/stylesheet.css" />
</head>
<body>
    <!-- Container -->
    <div class="container-fluid invoice-container">
        <!-- Header -->
        <header>
            <div id="main1">
                <div class="goLeft1"> <img src="http://localhost:5300/images/commande.png" title="Koice" alt="Koice" width="60%" /></div>
                <div class="goRight1">
                    <h1 class="text-5 mb-0"><strong> @Model.orderDetail.agent.agency.company.name</strong></h1><br />
                    <i class="fa fa-map-marker"></i><strong> Adresse: </strong><span>@Model.orderDetail.agent.agency.company.address</span><br />
                    <i class="fa fa-phone-square"></i><strong> Téléphone: </strong><span>@Model.orderDetail.agent.agency.company.phone</span><br />
                    <i class="fa fa-envelope-square"></i><strong> Email:</strong><span>@Model.orderDetail.agent.agency.company.email</span>
                </div>
            </div>
            <br />
            <hr />
        </header>
        <br />
        <!-- Main Content -->
        <main>
            <div id="main2">
                <div class="goLeft2"><strong>Date:</strong> @Model.orderDetail.date.ToString("dd/MM/yyyy à HH:mm")</div>
                <div class="goRight2"> <strong>COMMANDE №:</strong>  @Model.orderDetail.id</div>
            </div>
            <hr />
            <br />
            <div id="main3">
                <div class="goLeft3">
                    <strong>Commandé Par :</strong>
                    <address>
                        <i class="fa fa-user-tie"></i> <strong> @Model.orderDetail.agent.user.lastname @Model.orderDetail.agent.user.firstname</strong><br />
                        <i class="fa fa-phone-volume"></i> @Model.orderDetail.agent.user.phone<br />
                        <i class="fa fa-envelope"></i> @Model.orderDetail.agent.user.email
                    </address>
                </div>
                <div class="goRight3">

                        <strong>FOURNISSEUR :</strong>
                        <address>
                            <i class="fa fa-user-alt"></i><strong> @Model.orderDetail.supplier.name</strong><br />
                            <i class="fa fa-map-marker-alt"></i><strong> @Model.orderDetail.supplier.address</strong><br />
                            <i class="fa fa-phone-volume"></i> @Model.orderDetail.supplier.phone<br />
                            <i class="fa fa-envelope"></i> @Model.orderDetail.supplier.email<br />
                        </address>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="card-header">
                                <tr>
                                    <td class="col-1"><strong>№</strong></td>
                                    <td class="col-3 text-center"><strong>Désignation</strong></td>
                                    <td class="col-2 text-center"><strong>Quantité</strong></td>
                                    <td class="col-2 text-end"><strong>P.Achat</strong></td>
                                    <td class="col-2 text-end"><strong>P.Vente</strong></td>
                                    <td class="col-3 text-end"><strong>Montant</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var inc = 0; }
                                @foreach (var line in @Model.orderDetail.product_lines)
                                {
                                    inc++;
                                    <tr>
                                        <td class="col-1">@inc</td>
                                        <td class="col-3 text-start">@line.product.product.name</td>
                                        <td class="col-2 text-center">@line.quantity</td>
                                        <td class="col-2 text-end">@formatMoney(line.purchase_price) <small>FCFA</small></td>
                                        <td class="col-2 text-end">@formatMoney(line.selling_price) <small>FCFA</small></td>
                                        <td class="col-3 text-end">@formatMoney(line.purchase_price * line.quantity) <small>FCFA</small></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="card-footer">
                                <tr>
                                    <td colspan="5" class="text-end text-5"><strong>NET A PAYER :</strong></td>
                                    <td class="text-end text-2" style="text-decoration: underline;"><strong>@formatMoney(Model.orderDetail.amount)</strong><small> FCFA</small></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end"><strong>Montant Payé :</strong></td>
                                    <td class="text-end">
                                        @formatMoney(Model.orderDetail.amount_paid) <small>FCFA</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end"><strong>Reste à Payer :</strong></td>
                                    <td class="text-end">@formatMoney(Model.orderDetail.amount - Model.orderDetail.amount_paid) <small>FCFA</small></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <br /><br /><br />
        <footer class="text-center mt-4">
            <p class="text-1"><strong>--- NOUS VOUS REMERCIONS DE VOTRE CONFIANCE <i class="fa fa-thumbs-up"></i> &nbsp;---</strong></p>
            <hr />
            <div class="main2">
                <div class="goLeft2 text-start">
                    Imprimée ce @Model.datePrint.ToString("dd/MM/yyyy à HH:mm")
                </div>
                <div class="goRight2 text-end">Par ISHOWO APP</div>
            </div>
        </footer>

    </div>
</body>
</html>
