@model ItCommerce.Reporting.ViewModels.SaleViewModel
@functions{
    string formatMoney(double amount)
    {
        var format = String.Format("{0:### ### ###}", amount);
        if (amount == 0)
        {
            format = "0";
        }
        return format;
    }

    string sendCustomer(ItCommerce.Business.Entities.Customer customer)
    {
        string client;
        if (customer == null)
        {
            client = "CLIENT ANONYME";
        }
        else if (customer.nom != null)
        {
            client = customer.nom + " " + customer.prenom;
        }
        else if (customer.social_reason != null)
        {
            client = customer.social_reason;

        }
        else
        {
            client = "CLIENT ANONYME";
        }
        return client;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VENTES DU @Model.param.startDate.ToString("dd/MM/yyyy") AU  @Model.param.endDate.ToString("dd/MM/yyyy")</title>
    <meta name="author" content="harnishdesign.net" />

    <!-- Web Fonts
    ======================= -->
    <!-- Stylesheet
    ======================= -->
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/css/styleboot.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/css/stylesheet.css" />
</head>
<body>
    <!-- Container -->
    <div class="container-fluid invoice-container">
        <!-- Header -->
        <header>
            <div id="main1">
                <div class="goLeft1"> <img src="http://localhost:5300/images/ventes.png" title="Koice" alt="Koice" width="60%" /></div>
                <div class="goRight1">
                    <h1 class="text-5 mb-0"><strong> @Model.param.agent.agency.company.name</strong></h1><br />
                    <i class="fa fa-map-marker"></i><strong> Adresse: </strong><span>@Model.param.agent.agency.company.address</span><br />
                    <i class="fa fa-phone-square"></i><strong> Téléphone: </strong><span>@Model.param.agent.agency.company.phone</span><br />
                    <i class="fa fa-envelope-square"></i><strong> Email:</strong><span>@Model.param.agent.agency.company.email</span>
                </div>
            </div>
            <br />
            <hr />
        </header>
        <br />
        <!-- Main Content -->
        <main>
            <div id="main2">
                <div class="goLeft2 text-3"><strong>LISTE DES VENTES DU @Model.param.startDate.ToString("dd/MM/yyyy") AU  @Model.param.endDate.ToString("dd/MM/yyyy")</strong></div>
                <div class="goRight2 text-4"> <strong>TOTAL:</strong> @formatMoney(Model.saleList.Sum(x => x.amount_to_pay)) FCFA</div>
            </div>
            <hr />
            <br />
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="card-header">
                                <tr>
                                    <td class="col-1"><strong>№</strong></td>
                                    <td class="col-2 text-center"><strong>Date</strong></td>
                                    <td class="col-3 text-center"><strong>Nombre d'Articles</strong></td>
                                    <td class="col-3 text-end"><strong>Montant</strong></td>
                                    <td class="col-4 text-end"><strong>Client</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var inc = 0; }
                                @foreach (var sale in @Model.saleList)
                                {
                                    inc++;
                                    <tr>
                                        <td class="col-1">@inc</td>
                                        <td class="col-2 text-center">@sale.date.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td class="col-3 text-center">@sale.lines.Count</td>
                                        <td class="col-3 text-end">@formatMoney(sale.amount_to_pay) <small>FCFA</small></td>
                                        <td class="col-4 text-end">@sendCustomer(sale.customer)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <br /><br /><br />
        <footer class="text-center mt-4">
            <p class="text-1"><strong>--- FIN ---</strong></p>
            <hr />
            <div class="main2">
                <div class="goLeft2 text-start">
                    Imprimée ce @Model.datePrint.ToString("dd/MM/yyyy à HH:mm")
                </div>
                <div class="goRight2 text-end">Par ISHOWO APP</div>
            </div>
        </footer>

    </div>
</body>
</html>
