@model ItCommerce.Reporting.ViewModels.TransfertDetailView
@functions{
    string formatMoney(double amount)
    {
        var format = String.Format("{0:### ### ###}", amount);
        if (amount == 0)
        {
            format = "0";
        }
        return format;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TRANSFERT No @Model.transfertDetail.id - @Model.transfertDetail.agent.agency.company.name</title>
    <meta name="author" content="harnishdesign.net" />

    <!-- Web Fonts
    ======================= -->
    <!-- Stylesheet
    ======================= -->
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/css/styleboot.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:5300/css/stylesheet.css" />
</head>
<body>
    <!-- Container -->
    <div class="container-fluid invoice-container">
        <!-- Header -->
        <header>
            <div id="main1">
                <div class="goLeft1"> <img src="http://localhost:5300/images/transfert.png" title="Koice" alt="Koice" width="60%" /></div>
                <div class="goRight1">
                    <h1 class="text-5 mb-0"><strong> @Model.transfertDetail.agent.agency.company.name</strong></h1><br />
                    <i class="fa fa-map-marker"></i><strong> Adresse: </strong><span>@Model.transfertDetail.agent.agency.company.address</span><br />
                    <i class="fa fa-phone-square"></i><strong> Téléphone: </strong><span>@Model.transfertDetail.agent.agency.company.phone</span><br />
                    <i class="fa fa-envelope-square"></i><strong> Email:</strong><span>@Model.transfertDetail.agent.agency.company.email</span>
                </div>
            </div>
            <br />
            <hr />
        </header>
        <br />
        <!-- Main Content -->
        <main>
            <div id="main2">
                <div class="goLeft2"><strong>Date:</strong> @Model.transfertDetail.date.ToString("dd/MM/yyyy à HH:mm")</div>
                <div class="goRight2"> <strong>Transfert №:</strong>  @Model.transfertDetail.id</div>
            </div>
            <hr />
            <br />
            <div id="main3">
                <div class="goLeft3">
                    <strong>Effectué Par :</strong>
                    <address>
                        <i class="fa fa-user-tie"></i> <strong> @Model.transfertDetail.agent.user.lastname @Model.transfertDetail.agent.user.firstname</strong><br />
                        <i class="fa fa-phone-volume"></i> @Model.transfertDetail.agent.user.phone<br />
                        <i class="fa fa-envelope"></i> @Model.transfertDetail.agent.user.email
                    </address>
                </div>
                <div class="goRight3">
                    <address>
                        <strong> SOURCE :</strong> <span> @Model.transfertDetail.source.name</span><br />
                        <strong> DESTINATION :</strong> <span> @Model.transfertDetail.destination.name</span><br />
                        <strong> NB PRODUITS :</strong> <span> @Model.transfertDetail.product_lines.Count</span><br />
                        <strong> TOTAL QUANTITE:</strong> <span> @Model.transfertDetail.product_lines.Sum(x => x.quantity_transfer)</span><br />
                    </address>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="card-header">
                                <tr>
                                    <td class="col-1"><strong>№</strong></td>
                                    <td class="col-4 text-start"><strong>Désignation</strong></td>
                                    <td class="col-4 text-end"><strong>Rayon</strong></td>
                                    <td class="col-4 text-center"><strong>Quantité Transféré</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var inc = 0; }
                                @foreach (var line in @Model.transfertDetail.product_lines)
                                {
                                    inc++;
                                <tr>
                                    <td class="col-1">@inc</td>
                                    <td class="col-4 text-start">@line.product.product.name</td>
                                    <td class="col-4 text-end">@Model.transfertDetail.destination.name</td>
                                    <td class="col-4 text-center">@line.quantity_transfer</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <br /><br /><br />
        <footer class="text-center mt-4">
            <p class="text-1"><strong>--- NOUS VOUS REMERCIONS DE VOTRE CONFIANCE <i class="fa fa-thumbs-up"></i> &nbsp;---</strong></p>
            <hr />
            <div class="main2">
                <div class="goLeft2 text-start">
                    Imprimée ce @Model.datePrint.ToString("dd/MM/yyyy à HH:mm")
                </div>
                <div class="goRight2 text-end">Par ISHOWO APP</div>
            </div>
        </footer>

    </div>
</body>
</html>
